<script type="text/javascript" >
$(document).ready(function() {
    $('#gridTitle').click(function() {
        if ($(this).val() == "Show Title") 
        {
            $(this).val("Hide Title");
            $(".ui-jqgrid-titlebar").show();
        }
        else 
        {
            $(this).val("Show Title");
            $(".ui-jqgrid-titlebar").hide();
        }
    });
    
    $('#gridPagination').click(function() {
        if ($(this).val() == "Show Pagination") 
        {
            $(this).val("Hide Pagination");
            $(".ui-jqgrid-pager").show();
        }
        else 
        {
            $(this).val("Show Pagination");
            $(".ui-jqgrid-pager").hide();
        }
    });
    
    buildUpperGrid();
        
    jQuery("#emailGrid").jqGrid('navGrid','#emailPager',{edit:false,add:false,del:false});
                         
});

function buildUpperGrid()
{
    $("#emailGrid").jqGrid({
        url:"ajax/getemailformdata.php",
        datatype: 'json',
        colNames:['Name', 'email Address','Organization','Comment','Interest Level'],
        colModel : [
        {name:'name',index:'name', width:60, align:"center"},
        {name:'email',index:'email', width:120, align:"left"},
        {name:'organization',index:'organization', width:60, align:"left"},     
        {name:'comment',index:'comment', width:120,align:"center"},       
        {name:'interestlevel',index:'interestlevel', width:60, align:"center"}           
            ],
        rowNum:7,
        rowList:[10,20,30],
        pager: '#emailPager',
        sortname: 'name',
        scroll:true,
        viewrecords: true,
        sortorder: "desc",
        caption:"Email Entries List"
    });
}

</script>

<div class="container">
    
<div id="section-panel">

<table id="emailGrid"  style="font-size:11px;" class="table table-hover gridData"></table>

<div id="emailPager"></div>
</div> <!-- end of section-panel -->

<br /><br />
<div id="buttons">
<input type="button" id="gridTitle" value="Hide Title" />&nbsp;<input type="button" id="gridPagination" value="Hide Pagination" />
</div>

</div> <!-- end of container -->