<script type="text/javascript">
    
$(document).ready( function(){
    $("#email-form").submit(function (e) {
        // we need to do some validation and prep work first so we prevent default
        e.preventDefault();

        // get form data into string for ajax call
        var emailformstring = $("#email-form").serializeArray();
        // var emailformJSON = JSON.stringify(emailformstring);

        // alas safari does not support the required attribute 
        // so we must do redundant validation for required fields here
        var rc = validateEmailFormData("#email-form");

        // save the data to db
        if (rc)
            saveEmailFormData(emailformstring);

    });
}); 
</script>

<form name="email-form" id="email-form" method="post" action="">
<div class="form-group">
    <label for="email-name">Name</label>
    <input type="text"  class="form-control" id="email-name" name="email-name" placeholder="Your name">
</div>
<div class="form-group">
    <label for="email-address">Email address</label>
    <input type="email" class="form-control" id="email-address" name="email-address" placeholder="Email Address">
</div>
<div class="form-group">
    <label for="email-organization">Organization</label>
    <input type="text" class="form-control" id="email-organization" name="email-organization" placeholder="Organization">
</div>
<div class="form-group">
    <label for="email-comment">Comment</label>
    <textarea class="form-control" id="email-comment" name="email-comment" rows="3"></textarea>
</div>

<div class="form-group">
    <label for="email-interest">Please select your level of interest:</label>
    <select id="email-interest" name="email-interest" class="form-control">
        <option value="0">Select level of interest</option>
        <option value="1">I’m interested in learning more about COVES on a one-time basis</option>
        <option value="2">I’m interested in possible becoming a member of COVES</option>
        <option value="3">I’m interested in subscribing to quarterly email updates</option>
    </select>
</div>

<div style="padding-top:25px;" >
    <button type="submit" id="email-submit" class="btn btn-default">Submit</button>
</div>
</form>

<!-- Modal -->
<div class="modal fade" id="email-modal-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-dialog-header" id="modal-dialog-title"></h4>
      </div>
      <div class="modal-body">
        <p class="modal-dialog-message" id="modal-dialog-msg"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
