.panel-caption-override {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #ffad24;
}

.modal-dialog-header-title {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 2px;
	color: white;
}

.modal-dialog-header-warning {
	background: #ffad24;
}

.modal-dialog-header-danger {
	background: #d9534f;
}

.modal-dialog-header-success {
	background: #5cb85c;
}

.modal-dialog-header-primary {
	background: #428bca;
}

.modal-dialog-header-info {
	background: #5bc0de;
}

.modal-dialog-message {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: grey;
	padding-left:20%;
	padding-right:20%;
	letter-spacing: 3px;
}

.modal-dialog-message ul {
	padding-left:35px;
}

.modal-dialog-message li {
	color:maroon;
}

