
* {
   margin: 0px;
   padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	color: #255aa8;
	font-size: 24px;
	margin-top: 25px;
}

h3 {
	font-size: 21px;
	line-height: 30px;
	color: white;
	font-style: italic;
	letter-spacing: 2px;
	margin: 10px 0;
}
	
p {
	font-size: 16px;
	margin: 25px 0;
	line-height: 25px;
	text-align: justify;
	}
	
a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #ffad24;
	} 

#header {
	display: block;
	width: 100%;
	margin: 15px 0;
	}

#header img {
	display: block;
	width: 60%;
	margin: 0 auto;
}

#intro-text {
	text-align: center;
}
	
.page-section {
	padding: 30px 25px;
}

.border {
	border-bottom: 2px #e8e8e8 solid;
}	

.header-content {
	margin: 0 auto;
	max-width: 850px;
}

.content {
	margin: 0 auto;
	max-width: 850px;
	overflow:hidden;
}

.narrow {
	margin: 0 auto;
	max-width: 850px;
	overflow:hidden;
}

.gray {
	background-color: #e8e8e8;
}

.blue {
	background-color: #255aa8;
	}

@media screen and (max-width: 650px) {


	#header img {
		display: block;
		width: 95%;
		margin: 0 auto;
	}
}