
* {
   margin: 0px;
   padding: 0px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 24px;
	margin-bottom: 25px;
	font-weight: lighter;
	}

h2 {
	font-size: 21px;
	margin-top: 25px;
}

h3 {
	font-size: 18px;
	color: #255aa8;
	margin-bottom: 25px;
	font-style: oblique;

}
	
p {
	font-size: 15px;
	margin: 25px 0;
	line-height: 27px;
	text-align: justify;
	}
	
a {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #ffad24;
	} 

#header {
	display: block;
	width: 100%;
	margin-top: 10px;
	}

#header img {
	display: block;
	width: 70%;
	margin: 0 auto;
}

#intro {
	text-align: center;
}
	
.page-section {
	padding: 30px;
}

.border {
	border-bottom: 1px #e8e8e8 solid;
}	

.border-first {
	border-bottom: 1px #e8e8e8 solid;
	border-top: 1px #e8e8e8 solid;
}

.header-content {
	margin: 0 auto;
	max-width: 850px;
}


.content {
	margin: 0 auto;
	max-width: 850px;
	overflow:hidden;
}

.narrow {
	margin: 0 auto;
	max-width: 700px;
	overflow:hidden;
}

.highlighted {
	background-color: #f0f0f0;
}

@media screen and (max-width: 650px) {


	#header img {
		display: block;
		width: 95%;
		margin: 0 auto;
	}

}